*{
  margin: 0;
  padding: 0;
}

p{
  color: blue;
  background-color: lightgray;
}
.box{
  width: 200px;
  height: 100px;
  background-color: lightblue;
}
#title{
  color: green;
  text-align: center;
}
 div{
  width: 250px;
  padding: 20px;
  border: 3px solid black;
  margin: 15px;
} 
.border-box{
  width: 250px;
  padding: 20px;
  border: 3px solid black;
  margin: 15px;
  box-sizing: border-box;
}
h2{
  text-align: center;
  font-weight: bold;
  text-transform: uppercase;
}
body{
  font-family: "poppins" "Roboto", Arial, sans-serif;
  font-size: 16px;
}
a{
  text-decoration: none;
}
a:hover{
  text-decoration: underline wavy red;
}
p{
  color: rgb(255, 0, 0);
}
h1{
  background-color: #000000;
}
.card{
  padding: 10px 20px;
  margin: 15px 30px;
}
.box{
  width: 200px;
  height: 100px;
  overflow: auto;
}
span{
  width: 100px;
  background-color: lightblue;
}
.div1{
 background-color: lightpink;
}
.div2{
  background-color: lightgreen;
 }
 .boxe{
  width: 150px;
  height: 100px;
  margin: 10px;
  display: inline-block;
 }
.para{
  display: none;
}
.para1{
  visibility: hidden;
}
.rgb{
  width: 200px;
  height: 200px;
  background-color: rgba(255, 0, 0,0.5);
}
.parent{
  width: 400px;
}
.child{
  width: 50%;
}
em{
  font-size: 20px;
  padding: 2em;
}
html{
  font-size: 16px;
}
.rem{
 font-size: 2rem;
}
.Background{
  background-image: url(https://images.pexels.com/photos/34459536/pexels-photo-34459536.jpeg);
  height: 300px;
  background-size: cover;
  background-position: center;
}